/* ----------상수변수-------------- */
    /* 버튼 색 */
    --btn-rgb-0: var(--color-transparent);
    /*투명*/
    --btn-rgb-1: var(--rgb-accent-1);
    /*rgba(245, 158, 11, 1)*/
    --btn-rgb-2: 212, 135, 0;
    /*rgba(212, 135, 0, 1)*/
    --btn-rgb-3: var(--rgb-accent-2);
    /*rgba(217, 119, 6, 1)*/
    --btn-rgb-4: var(--rgb-accent-3);
    /*rgba(180, 83, 9, 1)*/
    --btn-rgb-5: 148, 72, 19;
    /*rgba(148, 72, 19, 1)*/
    --btn-rgb-6: 94, 40, 8;
    /*rgba(94, 40, 8, 1)*/
    --btn-rgb-7: 81, 58, 44;
    /*rgba(81, 58, 44, 1)*/
    --btn-rgb-8: 54, 36, 24;
    /*rgba(54, 36, 24, 1)*/

    --btn-rgb-base-1: var(--rgb-base-1);
    /* 가장 밝은 회색 */
    --btn-rgb-base-2: var(--rgb-base-2);
    /* 매우 밝은 회색 */
    --btn-rgb-base-3: var(--rgb-base-3);
    /* 밝은 회색 */
    --btn-rgb-base-4: var(--rgb-base-4);
    /* 연한 회색 */
    --btn-rgb-base-5: var(--rgb-base-5);
    /* 중간 회색 */
    --btn-rgb-base-6: var(--rgb-base-6);
    /* 진한 회색 */
    --btn-rgb-base-7: var(--rgb-base-7);
    /* 어두운 회색 */
    --btn-rgb-base-8: var(--rgb-base-8);
    /* 매우 어두운 회색 */
    --btn-rgb-base-9: var(--rgb-base-9);
    /* 거의 검은 회색 */
    --btn-rgb-base-10: var(--rgb-base-10);
    /* 가장 어두운 회색 */

    /* 버튼 높이 */
    --btn-height-1: var(--space-19);
    --btn-height-2: var(--space-22);
    --btn-height-3: var(--space-28);
    --btn-height-4: var(--space-32);
    --btn-height-5: var(--space-35);

    /* 버튼 패딩 */
    --btn-padding-1: 0 var(--space-6);
    --btn-padding-2: 0 var(--space-10);
    --btn-padding-3: 0 var(--space-15);
    --btn-padding-4: 0 var(--space-24);
    --btn-padding-5: 0 var(--space-29);

    /* 버튼 폰트사이즈 */
    --btn-font-size-1: var(--space-8);
    --btn-font-size-2: var(--space-10);
    --btn-font-size-3: var(--space-15);
    --btn-font-size-4: var(--space-19);

    /* 버튼 행간 */
    --btn-line-height-1: var(--space-13);
    --btn-line-height-2: var(--space-15);
    --btn-line-height-3: var(--space-19);
    --btn-line-height-4: var(--space-22);

    /* 버튼 자간 */
    --btn-letter-spacing-1: 0.1px;
    --btn-letter-spacing-2: 0.15px;
    --btn-letter-spacing-3: 0px;

    /* border-radius */
    --btn-border-radius-1: var(--border-radius-4);
    --btn-border-radius-2: var(--border-radius-5);
    --btn-border-radius-3: var(--border-radius-6);
    --btn-border-radius-4: var(--space-17);
    --btn-border-radius-5: 999px;